<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.github.ironjan.metalonly.client">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="@string/app_name"
        android:supportsRtl="true">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabric_io_id}"
            tools:replace="android:value"
            />
    </application>

</manifest>
